<form action='/result' method='post'>
    <label>Name: <input type='text' name='name'></label></br>
  <label>Dojo Location:
    <select name="locations">
      <option value="mountain">Mountain View</option>
      <option value="bellevue">Bellevue</option>
      <option value="california">California</option>
      <option value="Boston">Boston</option>
    </select>
  </label></br>
  <label>Favorite Language:
    <select name="languages">
      <option value="javascript">Javascript</option>
      <option value="php">PHP</option>
      <option value="python">Python</option>
    </select>
  </label></br>
  <label>Comment: <textarea rows='4' cols='30' name='comment'></textarea></label></br>
    <input type='submit' value='create user'>
</form>
